<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/addCard.css">
        <title>Document</title>
    </head>
    <body>
        <div class="content">
            <div class="add">
                <i class="fa fa-list" aria-hidden="true"></i>
                <input type="text" placeholder="Add a new task" id="newTask">
                <!-- <input type="button" value="Add"> -->
                <button onclick="add()">Add</button>
            </div>
            <div class="select">
                <label for="all">
                    <input type="radio" id="all" name="check" onclick="filter('all')">
                    <span>All</span>
                </label>
                <label for="pending">
                    <input type="radio" id="pending" name="check" onclick="filter('pending')">
                    <span>Pending</span>
                </label>
                <label for="completed">
                    <input type="radio" id="completed" name="check" onclick="filter('completed')"> 
                    <span>Completed</span>
                </label>
                <div>
                    <button>Clear all</button>
                </div>
            </div>
            <div class="result">
                <ul id="datas">
                   
                  
                </ul>
            </div>
        </div>
        <script src="../static/js/addCard.js"></script>
    </body>
</html>